{
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "target": "es2020",
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}